body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
body{
    /* 设置背景图片 */
    background-image: url(images/背景图片.webp);
}


.page-wrapper
 {
    display: flex;/* 使用flexbox弹性布局 */
    flex-direction: column;
    min-height: 100vh;
}

/* 页眉 */
header {
    background-color: #222; /* 背景深灰 */
    color: #fff; /* 文字白色 */
}

header h1 {
    text-align: center; /* 居中对齐 */
    padding: 0; /* 内边距设置0 */
}

/* 导航 */
nav ul {
    padding: 0;
    display: flex; /* 使用flexbox布局 */
    justify-content: center; /* 导航项水平居中对齐 */
    background-color: #444; /* 导航栏背景颜色设置为深灰色 */
}

nav ul li {
    margin: 0 10px; /* 导航项左右外边距设置 */
}

/* 超链接的默认样式 */
.nav-link {
    color: #fff; /* 超链接文字颜色设置为白色 */
    text-decoration: none; /* 移除超链接的下划线 */
    padding: 10px 15px;
    transition: background-color 0.3s; /* 鼠标悬停时背景颜色变化的过渡效果 */
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    background-color: #555; /* 超链接悬停或聚焦时的背景颜色 */
}

/* 盒模型 */
.content-box {
    width: 80%;
    margin: 10px auto; /* 外边距自动，水平居中 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.content-box h2 {
    color: #333; 
    margin-bottom: 10px;
}

.content-box p {
    text-align: justify; /* 段落文本两端对齐 */
    margin-bottom: 15px;
}

/* 图片容器样式 */
.image-container {
    display: flex; /* 使用flexbox布局 */
    justify-content: center; /* 图片水平居中 */
    align-items: center; /* 图片垂直居中 */
    width: 100%; /* 图片容器宽度为100% */
    max-width: 800px; /* 图片容器最大宽度 */
    margin: 0 auto; /* 图片容器外边距自动，实现水平居中 */
    padding: 10px;
    box-sizing: border-box; /* 边框计算在宽度内 */
}

.image-container img {
    max-width: 100%;/*最大宽度不能越界*/
    height: auto;
    display: block;
    margin: 0; 
}

/* 页脚样式 */
footer {
    background-color: #333; /* 页脚背景颜色 */
    color: #fff; /* 文字白色 */
    text-align: center; /* 文字居中对齐 */
    padding: 1em 0; /* 上下内边距 */
}